{% extends 'base_main.html' %}

{% block title %}
    修改密码
{% endblock %}

{% block css %}
    {{ block.super }}
        <style type="text/css">
            .change_password{
                width: 30%;
                margin-left: 30%;
            }
            .btn-danger{
                margin-left: 80%;
            }
        </style>

{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="change_password">
        <h2 style="text-align: center;margin-top: 20px;">重置密码</h2>
        <form action="" method="post" style="margin-top: 80px">
            <p style="color: red">{{ error }}</p>
        {% csrf_token %}
            <div class="input-group">
                <span class="input-group-addon">用户名</span>
                <input class="form-control" type="text" name="username">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">真实姓名</span>
                <input class="form-control" type="text" name="real_name">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">身份证号</span>
                <input class="form-control" type="text" name="card_id">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">新密码</span>
                <input class="form-control" type="password" name="new_password">
            </div>
            <br>
            <input type="submit" class="btn btn-danger" value="确认修改">
        </form>
    </div>

{% endblock %}